/* Seppiko SableCSS | MIT License | https://gitlab.com/seppiko/sablecss */
body {
  font-weight: 400;
}

h5, h4 {
  font-weight: 500;
}

h3, h2, h1 {
  font-weight: 700;
}

h6, h5, h4, h3, h2, h1 {
  margin: 0;
  line-height: 1.15;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2.75rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.25rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.75rem;
}

h6 {
  font-size: 1.5rem;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ol li, ul li {
  margin-left: 0;
  padding-left: 0;
}

hr {
  background-color: transparent;
  color: inherit;
  opacity: 1;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
}

main,
section,
article,
footer {
  width: 100%;
}

button {
  overflow: visible;
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

p {
  line-height: 1.5;
}

textarea:focus-visible {
  outline: none;
}

::selection {
  text-shadow: none;
}

::-moz-selection {
  text-shadow: none;
}

.container {
  width: 100%;
}
@media only screen and (min-width: 640px) {
  .container {
    width: 615px;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    width: 722px;
  }
}
@media only screen and (min-width: 1024px) {
  .container {
    width: 943px;
  }
}
@media only screen and (min-width: 1280px) {
  .container {
    width: 1152px;
  }
}
@media only screen and (min-width: 1536px) {
  .container {
    width: 1352px;
  }
}
@media only screen and (min-width: 1920px) {
  .container {
    width: 1652px;
  }
}
@media only screen and (min-width: 2560px) {
  .container {
    width: 2151px;
  }
}

.w-full {
  width: 100%;
}

.max-w-full {
  max-width: 100%;
}

.h-full {
  height: 100%;
}

.min-h-full {
  min-height: 100%;
}

.min-h-screen {
  min-height: 100vh;
}

.max-h-full {
  max-height: 100%;
}

.max-h-screen {
  max-height: 100vh;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.px-auto {
  padding-left: auto;
  padding-right: auto;
}

.py-auto {
  padding-top: auto;
  padding-bottom: auto;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

.flex-none {
  flex: none;
}

.flex-grow-0 {
  flex-grow: 0;
}

.flex-grow {
  flex-grow: 1;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.flex-shrink {
  flex-shrink: 1;
}

.flex-basis-auto {
  flex-basis: auto;
}

.flex-basis-0 {
  flex-basis: 0%;
}

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

.items-center {
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.font-sans {
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", "Ubuntu", Roboto, "Open Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", emoji;
}

.font-serif {
  font-family: ui-serif, Cochin, Georgia, Cambria, "Times New Roman", Times, serif;
}

.font-mono {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.font-thin {
  font-weight: 100;
}

.font-extralight {
  font-weight: 200;
}

.font-light {
  font-weight: 300;
}

.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.font-black {
  font-weight: 900;
}

.select-none {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.touch-none {
  -ms-touch-action: none;
  touch-action: none;
}

.touch-manipulation {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.whitespace-pre {
  white-space: pre;
}

.whitespace-pre-line {
  white-space: pre-line;
}

.whitespace-pre-wrap {
  white-space: pre-wrap;
}

.whitespace-break-spaces {
  white-space: break-spaces;
}
