/*! Seppiko SableCSS Normalize | MIT License | https://sablecss.seppiko.org */
::before,
::after {
  box-sizing: border-box;
  border: none;
}

html {
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  line-height: 1.15;
  font-size: 1rem;
  font-weight: normal;
}

header,
main,
footer,
nav,
section,
article,
aside {
  display: block;
}

ol,
ul,
menu {
  margin: 0;
  padding: 0;
}

menu {
  list-style: none;
}

hr {
  height: 0;
  color: inherit;
  overflow: visible;
  opacity: 1;
  margin: 0;
  padding: 0;
}

abbr:where([title]) {
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

pre {
  margin: 0;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

label,
input {
  display: table-cell;
}

caption {
  text-align: center;
  caption-side: bottom;
}

button,
input,
textarea,
select,
optgroup {
  font: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  padding: 0;
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  appearance: button;
  cursor: pointer;
}

[type=search] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  outline-offset: -2px;
}

label {
  display: inline-block;
}

legend {
  box-sizing: border-box;
  display: table;
  max-width: 100%;
  white-space: normal;
  padding: 0;
}

progress {
  vertical-align: baseline;
}

summary {
  display: list-item;
}

fieldset {
  margin: 0;
  padding: 0;
}

:disabled {
  cursor: default;
}

[hidden] {
  display: none;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  -moz-box-shadow: none;
  box-shadow: none;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
  outline-offset: -2px;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  appearance: button;
  font: inherit;
}

:focus-visible {
  outline: none;
}

::placeholder, ::-webkit-input-placeholder {
  color: inherit;
  opacity: inherit;
  font-size: 1em;
}
